<!DOCTYPE html>
<html>
    <head>
        <title>Notes App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    
<body>
    
        <div class="container">
        
  
    
    <h1>Notes App</h1>
    <form action="/add_note" method="post">
        <textarea name="content" required placeholder="Write your note..."></textarea><br>
        <button type="submit">Add Note</button>
    </form>
    <h2>Your Notes:</h2>
   

    <ul>
        {% for note in notes %}
            <li>
                {{ note[1] }} ({{ note[2] }})
                <a href="{{ url_for('delete_note', id=note[0]) }}" style="color: red; margin-left: 10px;">Delete</a>
            </li>
        {% endfor %}
    </ul>
    
    
</div>
</body>
</html>
